<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>AppExpress</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body>
        <div class="container">
            <div class="logo">AppExpress</div>
            <div class="slogan">
                An <code style="font-size: 16px">`express.js`</code> like
                framework for <br />
                Appwrite Functions, enabling super-easy navigation!
            </div>
            <button class="action-button" onclick="learnMore()">
                Learn More
            </button>
        </div>
        <footer>
            Built by
            <a href="https://github.com/itznotabug" target="_blank"
                >@ItzNotABug</a
            >
            <p>This is rendered from an html file.</p>
        </footer>
        <script>
            function learnMore() {
                window.open(
                    'https://github.com/itznotabug/appexpress',
                    '_blank',
                );
            }
        </script>
    </body>
</html>
